@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', sans-serif;
}

header{
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: solid 1px lime; */
  gap: 130px;
  padding: 10px 0px;
}

/* nav>div{
  border: solid 1px red;
} */

/* BURGER */
.burgerAndLogo {
  display: flex;
  gap: 15px
}

.burger{
  background-color: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
  transform: translateY(3px);
}

.burger:hover{
  background-color: #cccccc6a;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a{
  /* border: solid 1px; */
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;;
  font-size: x-large
}

.logo svg{
  font-size: 28px;
  transform: translateY(1.2px)
}

.logo sup{
  font-size: small;
  text-indent: 2px;
}

/* SEARCH SECTION */

.searchSection{
  display: flex;
  gap: 20px;
}

.searchSection form{
  display: flex;
  /* position: relative */
}

.searchSection form label{
  width: 550px;
  display: flex;
  align-items: center;
  border: solid 2px #ccc;
  border-radius: 40px 0px 0px 40px;
  position: relative;
  overflow: hidden
}

input#search{
  width: 100%;
  padding: 8px 8px 8px 15px;
  font-family: 'Roboto', sans-serif;
  border: none;
  font-size: large;
  border-radius: 40px 0px 0px 40px;
  position: absolute
}

input#search::-webkit-search-cancel-button{
  display: none
}


.close{
  display: none;
  position: absolute;
  right: 0;
  padding: 10px;
  border-radius: 50px;
  z-index: 99;
  color: #ccc;
  cursor: pointer;
} 

.close:hover{
  background-color: rgba(207, 207, 207, 0.352);
}

.searchSection form label.active{
  border: 1px solid #3f51b5;
}

/* form:hover label{
  border: 1px solid #3f51b5;
} */

form label:hover .search_icon{
  display: inline-block !important
}

.search_frame{
  display: none;
  border: solid 1px rgba(186, 186, 186, 0.3);
  width: 550px; 
  position: absolute; 
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 60px;
  padding: 20px 0px 0px 0px;
}
.elmt_for_search{
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  gap: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 5px;
}
.li_elmt:hover{
  background-color: #96969634;
}

.note_de_rech{
  float: right;
  font-size: small;
  color: rgba(54, 54, 54, 0.461);
  text-decoration: none;
  padding: 5px 10px;
}

form > button{
  width: 60px;
  border: solid 1px #ccc;
  background-color: #ccc;
  cursor: pointer;
  border-radius: 0px 18px 18px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.voice_search{
  /* border: solid 1px blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 50px;
  background-color: #ccc;
  cursor: pointer
}

/* SETTING AND ACCOUNT SECTION */
.settingAndAccount{
  display: flex;
  align-items: center;
  gap: 15px
}
/* SETTING */

.setting{
  display: inline-block;
  position: relative;
}

.setting .dropdown_content.show_sett_drop{
  display: block
}

.dropbtn{
  border: none;
  background-color: initial;
  border-radius: 50px;
}

.dropbtn svg{
  display: block;
  padding: 6px;
  border-radius: 50px;
  cursor: pointer;
}

.dropbtn:hover{
  background-color: #ccc;
}
.dropdown_content{
  transform: translate(-250px, 5px);
  display: none;
  padding: 10px 0px;
  position: absolute;
  border-radius: 10px;
  width: 300px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .dropdown_content::after{
  content: "";
  position: relative;
} */

.userData button{
  width: 100%;
  border: none;
  background-color: initial;
}

.userData a{
  text-decoration: none;
  color: var(--textColor);
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 15px
}

.custom{
  display: flex;
  flex-direction: column;
}

.custom button, .helpAndComment button{
  width: 100%;
  padding: 6px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  background-color: initial;
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom button span:nth-child(2),
.param button span:nth-child(2),
.helpAndComment button span:nth-child(2){
  display: block;
  text-align: left;
  margin-left: 15px;
}

.custom button span.opt::after{
  content: '>';
  position: absolute;
  right: 10px;
  font-size: x-large;
  transform: translateY(-15%)
}

.param{
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.param button{
  width: 100%;
  padding: 6px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  background-color: initial;
  margin-top: 5px;
  margin-bottom: 5px;
}

.helpAndComment{
  display: flex;
  flex-direction: column;
}

.param button:hover,
.custom button:hover,
.helpAndComment button:hover,
.userData button:hover, .active{
  background-color: #ccc;
}

/* ACCOUNT */

.account a:hover{
  background-color: rgba(0, 123, 255, 0.262);
}

.account a{
  border: solid 1px #ccc;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: blue !important;
  padding: 5px;
  border-radius: 50px
}

.account svg{
  font-size: x-large;
  margin-right: 5px;
}


/* ****************** */
/*       LE MAIN      */
/* ***************** */

main{
  /* border: solid 3px blue ; */
  position: absolute;
  top: 62px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}

/* STATIC SIDEBAR */

.static_slide_bar{
  /* border: solid 3px red; */
  height: 100%;
  margin-left: 2px;
}

ul{
  list-style-type: none;
}

.static_bar_btn{
  /* border: solid 1px green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
  padding: 15px 5px 15px 3px;
  border-radius: 10px;
  font-size: x-small
}

.static_bar_action{
  margin-top: 5px;
}

.static_bar_btn:hover{
  background-color: #ccc;
}

.static_bar_btn_active .home svg g{
  fill: black
}

.short{
  cursor: pointer
}

.static_bar_btn_active .short svg .small_short{
  fill: black;
  fill-opacity: 1;
}

.static_bar_btn_active .short svg .play_icon{
  fill: white
}

.static_bar_btn_active .Abonnement svg .small_rect{
  fill: black
}

.static_bar_btn_active .Abonnement svg .play_icon{
  fill: white
}

.static_bar_btn_active .vous svg .small_rect{
  fill: black
}

.static_bar_btn_active .vous svg .play_icon{
  fill: white
}

.static_bar_btn_active .historique svg{
  stroke-width: 0.5
} 


/* TOGGLE SLIDE BAR */

.toggle_slide_bar{
  /* border: solid 3px green; */
  position: fixed;
  top: calc(0px + 82px);
  left: 0;
  width: 0;
  height: calc(100% - 82px);
  overflow-y: scroll;
  transition: .3s;
  font-size: 14px;
  /* scrollbar-width: 100px; */
  display: none;
}
.toggle_slide_bar::-webkit-scrollbar{
  width: 10px;
}
.toggle_slide_bar::-webkit-scrollbar-thumb{
  background-color: rgb(140, 140, 140);
  border-radius: 45px;
  visibility: hidden;
}
.toggle_slide_bar:hover::-webkit-scrollbar-thumb{
  visibility: visible
}

.toggle_slide_bar a{
  text-decoration: none;
  color: #000
}

.toggle_slide_bar .one_sct,
.two_sct,
.four_sct,
.five_sct,
.six_sct,
.seven_sct{
  border-bottom: solid 2px rgb(187, 187, 197);
  padding: 12px;
}

.toggle_bar_btn{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 35px 8px 10px;
  border-radius: 10px;
  transition: background-color ease .1s
}

.toggle_bar_btn:hover{
  background-color: #ccc;
}

.toggle_bar_btn_active.home{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.home svg g{
  fill: black
}

.toggle_bar_btn_active.short{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.short svg .small_short{
  fill: black;
  fill-opacity: 1;
}

.toggle_bar_btn_active.short svg .play_icon{
  fill: white
}

.toggle_bar_btn_active.Abonnement{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.Abonnement svg .small_rect{
  fill: black
}

.toggle_bar_btn_active.Abonnement svg .play_icon{
  fill: white
}

.toggle_bar_btn_active.vous{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.vous svg .small_rect{
  fill: black
}

.toggle_bar_btn_active.vous svg .play_icon{
  fill: white
}

.toggle_bar_btn_active.historique{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.historique svg{
  stroke-width: 0.5
} 

.three_sct{
  border-bottom: solid 2px rgb(187, 187, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px
}
.three_sct .account{
  margin: 10px 0px 5px 0px;
}

.toggle_bar_btn_active.explore{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.explore svg .small_fire{
  fill: white
}
.toggle_bar_btn_active.explore svg .med_fire{
  fill: black
}
.toggle_bar_btn_active.musique{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.musique svg .small{
  fill: black
}

.toggle_bar_btn_active.direct{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.direct svg{
  stroke-width: 1.5
}

.toggle_bar_btn_active.game{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.game svg .small{
  fill: black
}
.toggle_bar_btn_active.game svg .items{
  fill: white
}

.toggle_bar_btn_active.Actu{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.Actu svg .actu_menu_small_rect,
.toggle_bar_btn_active.Actu svg .bars,
.toggle_bar_btn_active.Actu svg .plie{
  fill: white
}
.toggle_bar_btn_active.Actu svg .small_rect{
  fill: black
}

.toggle_bar_btn_active.sport{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.sport svg .cup{
  fill: black
}

.toggle_bar_btn_active.cult_gnl{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.cult_gnl svg .small_circle{
  fill: black
}

.toggle_bar_btn_active.mode{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.mode svg .mode_rects{
  fill: black
}

.toggle_bar_btn_active.chaine{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.chaine svg .small_circle{
  fill: black
}
.toggle_bar_btn_active.chaine svg .plus{
  fill: white
}

.toggle_bar_btn_active.signal_histo{
  background-color: #d3d3d35d;
}
.toggle_bar_btn_active.seven_sct .signal_histo svg .inset_flag{
  fill: black
}

.toggle_bar_btn_active.signal_histo svg .inset_flag{
  fill: black
}

.design_xl{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle_slide_bar h3{
  padding: 8px 15px;
}

.show_toggleBar{
  display: block;
  width: 250px
}

.eight_sct{
  font-size: small;
  padding: 15px 25px
}
.eight_sct .about,
.eight_sct .YT-opt{
  margin-bottom: 15px;
}
.eight_sct .copyright{
  margin-top: 15px;
}

#containt{
  position: relative;
  /* border: solid 3px yellow; */
  transition: margin-left .3s ease;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}

.propositionBar{
  position: absolute;
  width: calc(100% - 20px);
  /* width: 100%; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #d3d3d35d;
  border-bottom: solid 1px #d3d3d35d;
  overflow-x: auto;
  z-index: 1;
}
.propositionBar::after{
  content: '';
  position: fixed;
  right: 0px;
  padding: 20px;
  box-shadow: -50px 0px 3px -30px rgb(255, 255, 255) inset
}
.propositionBar::-webkit-scrollbar{
  display: none
}
.propositionBar .proposition{
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #d3d3d35d;
  cursor: pointer;
  z-index: -1
}
.proposition:hover{
  background-color: #d3d3d3ad
}
.proposition:not(.first){
  margin-left: 15px;
}
.proposition.on{
  background-color: #000;
  color: #fff
}


.videoFrame{
  position: absolute;
  border: solid 1px red;
  left: 0;
  right: 0;
  top: 55px;
  bottom: 0;
  padding: 10px 30px;
  display: flex
}
.videoFrame .video{
  border: solid 1px lime;
  background-color: #fff;
}
.video_desc{
  border: solid 1px red;
  overflow: hidden;
  /* display: flex;
  justify-content: space-between; */
}
.icon, .video-info{
  float: left
}
.video-info{
  margin-left: 15px;
}
.video_opt{
  float: right;
}
.video_opt .opt_v{
  display: block;
  /* border: solid 1px black; */
  padding: 5px;
  border-radius: 50px;
}
.opt_v:hover{
  background-color: #ccc;
  cursor: pointer
}
h4.title{
  margin-top: 2px;
}
.channel_name, .vues{
  color: #000000d7;
  font-size: 14px;
  margin-top: 2px;
}
.video_desc .icon img{
  clip-path: circle(50%);
  width: 40px;
}

iframe{
  border-radius: 10px
}


